_staging/_layouts/contatti.pug
doctype html
html
	head
		include _partials/head.pug

	body
		include _partials/navbar.pug

		.container-fluid.sectionbg
			img(src="assets/images/section_bg.jpg", alt="")
			.title
				h1.bold CONTATTI
				//- include _partials/dacarSpacer
		.container
			.row.contacts
				.col-sm-12.col-md-4.columns
					h2.blue
						i.fas.fa-user
					p.bold.uppercase.blue Davide Riolfo
					p.bold +39 3285442547<br>davide@dacarmilano.it
					p.bold.uppercase.blue Gianluca Guarnaschelli
					p.bold +39 3479450069<br>gianluca@dacarmilano.it
					p.bold.uppercase.blue Croci Giudice
					p.bold (Responsabile acquisti)<br>+39 3779999724
				.col-sm-12.col-md-4.columns.borderDivider
					h2.blue
						i.fas.fa-map-marker-alt
					
					P.bold.blue SEDE OPERATIVA
					p.bold Via Giosuè Carducci 221/55,
						br 
						|Sesto San Giovanni (MI)

					P.bold.blue SEDE LEGALE
					p.bold Via Trieste 42,
						br 
						|20064 Gorgonzola (MI)				
				.col-sm-12.col-md-4.columns
					h2.blue
						i.fas.fa-clock
					p.bold.uppercase.blue LUN-VEN
					p.bold 9:00-12:30<br>14:30-19:00
					p.bold.uppercase.blue SABATO
					p.bold 9:00-12:30
		.container-fluid#maps
			a(href="https://www.google.com/maps/place/Dacar+Srl/@45.5309437,9.2200363,17z/data=!3m2!4b1!5s0x4786c758a2b6722f:0xf919c3f41b81deb7!4m5!3m4!1s0x4786b9e11a44b7c9:0x71d6eda4a47bbada!8m2!3d45.53094!4d9.222225" target="_blank")
				img(src="assets/images/maps.jpg", alt="")
		.container
			.row
				.col-sm-12
					h2 INVIACI UNA EMAIL
					p Il nostro team ti risponderà al più presto
					include _partials/dacarSpacer.pug
				.col-sm-12
					.message
						p.blue.uppercase.bold
					.form-group
						input#sendemail-nome(type='text', placeholder='NOME')
					.form-group
						input#sendemail-email(type='email', placeholder='EMAIL')
					.form-group
						textarea#sendemail-testo(type='text', placeholder='MESSAGGIO')
					a.button.button--blue#send INVIA

		
		include _partials/footer.pug
		include _partials/include.pug
		script.
			$(document).ready(function(){
				$("#send").click(function(){
					var nome = $("#sendemail-nome").val();
					var email = $("#sendemail-email").val();
					var testo = $("#sendemail-testo").val();
					var action = "fromContatti";
					$.ajax({
						type: "POST",
						url: "/sendto.php",
						data: {nome:nome,email:email,testo:testo,action:action},
						success: function( data ) {
							if(data=='true')    {
								$(".form-group").hide()
								$("#send").hide()
								$(".message p").text("LA TUA EMAIL È STATA INVIATA CORRETTAMENTE.")
							}
							else if (data == 'campi')
								$(".message p").text("NON HAI COMPILATO TUTTI I CAMPI.")
							else {
								$(".message p").text("LA TUA EMAIL NON È STATA INVIATA. RIPROVA PIÙ TARDI.")
							}
						}
					});
				});
			});

_prod/contatti.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Siamo un'azienda giovane e dinamica attenta alle Vostre necessità e in linea con un mercato in continua evoluzione.">
    <meta name="keywords" content="Concessionario, Sesto San Giovaani, Auto Usate, Macchina">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dacar | Contatti</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/bootstrap-grid.css">
    <link rel="stylesheet" href="assets/css/swiper.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.1/lity.min.css">
    <link rel="icon" type="image/png" href="assets/images/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="db5fea06-c187-4d6b-a2fb-b11517effb48" data-blockingmode="auto" type="text/javascript"></script>
  </head>
  <body>
    <div id="navbar">
      <div class="container">
        <div class="logo"><a href="/"><img src="assets/images/logo.png"></a>
          <div class="menu">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
        </div>
        <div class="link"><a href="/">
            <div>
              <p>HOMEPAGE</p>
            </div></a><a href="veicoli.html">
            <div>
              <p>VEICOLI</p>
            </div></a><a href="gallery.html">
            <div>
              <p>GALLERY</p>
            </div></a><a href="contatti.html">
            <div>
              <p>CONTATTI</p>
            </div></a></div>
      </div>
    </div>
    <div class="container-fluid sectionbg"><img src="assets/images/section_bg.jpg" alt="">
      <div class="title">
        <h1 class="bold">CONTATTI</h1>
      </div>
    </div>
    <div class="container">
      <div class="row contacts">
        <div class="col-sm-12 col-md-4 columns">
          <h2 class="blue"><i class="fas fa-user"></i></h2>
          <p class="bold uppercase blue">Davide Riolfo</p>
          <p class="bold">+39 3285442547<br>davide@dacarmilano.it</p>
          <p class="bold uppercase blue">Gianluca Guarnaschelli</p>
          <p class="bold">+39 3479450069<br>gianluca@dacarmilano.it</p>
          <p class="bold uppercase blue">Croci Giudice</p>
          <p class="bold">(Responsabile acquisti)<br>+39 3779999724</p>
        </div>
        <div class="col-sm-12 col-md-4 columns borderDivider">
          <h2 class="blue"><i class="fas fa-map-marker-alt"></i></h2>
          <P class="bold blue">SEDE OPERATIVA</P>
          <p class="bold">Via Giosuè Carducci 221/55,<br>Sesto San Giovanni (MI)</p>
          <P class="bold blue">SEDE LEGALE</P>
          <p class="bold">Via Trieste 42,<br>20064 Gorgonzola (MI)				</p>
        </div>
        <div class="col-sm-12 col-md-4 columns">
          <h2 class="blue"><i class="fas fa-clock"></i></h2>
          <p class="bold uppercase blue">LUN-VEN</p>
          <p class="bold">9:00-12:30<br>14:30-19:00</p>
          <p class="bold uppercase blue">SABATO</p>
          <p class="bold">9:00-12:30</p>
        </div>
      </div>
    </div>
    <div class="container-fluid" id="maps"><a href="https://www.google.com/maps/place/Dacar+Srl/@45.5309437,9.2200363,17z/data=!3m2!4b1!5s0x4786c758a2b6722f:0xf919c3f41b81deb7!4m5!3m4!1s0x4786b9e11a44b7c9:0x71d6eda4a47bbada!8m2!3d45.53094!4d9.222225" target="_blank"><img src="assets/images/maps.jpg" alt=""></a></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>INVIACI UNA EMAIL</h2>
          <p>Il nostro team ti risponderà al più presto</p>
          <div class="dacarSpacer">
            <div class="line"></div>
            <div class="steeringWheel">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve" width="512px" height="512px">
                <g>
                  <g id="steering_x5F_wheel">
                    <path d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M16,4    c5.207,0,9.605,3.354,11.266,8H4.734C6.395,7.354,10.793,4,16,4z M16,18c-1.105,0-2-0.895-2-2s0.895-2,2-2s2,0.895,2,2    S17.105,18,16,18z M4,16c5.465,0,9.891,5.266,9.984,11.797C8.328,26.828,4,21.926,4,16z M18.016,27.797    C18.109,21.266,22.535,16,28,16C28,21.926,23.672,26.828,18.016,27.797z" fill="#014dbb"></path>
                  </g>
                </g>
              </svg>
            </div>
            <div class="line"></div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="message">
            <p class="blue uppercase bold"></p>
          </div>
          <div class="form-group">
            <input id="sendemail-nome" type="text" placeholder="NOME">
          </div>
          <div class="form-group">
            <input id="sendemail-email" type="email" placeholder="EMAIL">
          </div>
          <div class="form-group">
            <textarea id="sendemail-testo" type="text" placeholder="MESSAGGIO"></textarea>
          </div><a class="button button--blue" id="send">INVIA</a>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="container">
        <div class="row dacar-row">
          <div class="col-md-3 col-sm-12 columns">
            <h5 class="blue bold">NAVIGAZIONE</h5><a href="/">
              <p class="uppercase bold">HOMEPAGE</p></a><a href="/veicoli.html">
              <p class="uppercase bold">VEICOLI</p></a><a href="/gallery.html">
              <p class="uppercase bold">GALLERY</p></a><a href="/contatti.html">
              <p class="uppercase bold">CONTATTI</p></a><a href="/privacy.html">
              <p class="uppercase bold">privacy policy</p></a><a href="/cookie.html">
              <p class="uppercase bold">cookie policy</p></a>
          </div>
          <div class="col-md-3 col-sm-12 columns">
            <h5 class="blue bold">ORARI</h5>
            <p class="bold uppercase orario"> <span class="blue"><i class="fas fa-clock"></i></span>Lun-ven <br>9:00-12:30<br>14:30-19:00</p>
            <p class="bold uppercase orario"><span class="blue"><i class="fas fa-clock"></i></span>Sabato<br>9:00-12:30</p>
          </div>
          <div class="col-md-3 col-sm-12 columns">
            <h5 class="blue bold">CONTATTI</h5>
            <p class="bold indirizzo"><span class="blue"><i class="fas fa-map-marker-alt"></i></span><span>Via Giosuè Carducci 221/55, Sesto San Giovanni(MI)</span></p>
            <p class="bold telefono"><span class="blue"><i class="fas fa-user"></i></span><span>Davide Riolfo<br>+39 3285442547<br>davide@dacarmilano.it</span></p>
            <p class="bold telefono"><span class="blue"><i class="fas fa-user"></i></span><span>Gianluca Guarnaschelli<br>+39 3479450069<br>gianluca@dacarmilano.it</span></p>
            <p class="bold telefono"><span class="blue"><i class="fas fa-user"></i></span><span>Croci Giudice <br>(Responsabile acquisti)<br>+39 3779999724</span></p>
          </div>
          <div class="col-md-3 col-sm-12 columns">
            <h5 class="blue bold">SOCIAL</h5><a href="https://www.facebook.com/dacarmilano/" target="_blank">
              <h2 class="blue"><i class="fab fa-facebook-square"></i></h2></a><a href="https://www.instagram.com/dacarmilano/" target="_blank">
              <h2 class="blue"><i class="fab fa-instagram"></i></h2></a>
          </div>
        </div>
      </div>
      <div class="row dacar-row" style="background:#014dbb;padding:0;">
        <div class="col-sm-12 columns">
          <div class="container" style="padding: 10px 2% !important;">
            <p class="white" style="margin:0;font-size:10px;text-align:left;">DACAR SRL - Sede legale: Via Trieste 42, 20064 Gorgonzola (MI) – P.IVA: 11511580968 – Numero REA MI-2608339 – Capitale Sociale: 10.000€</p>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/swiper.min.js"></script>
    <script type="text/javascript" src="assets/js/lozad.js"></script>
    <script type="text/javascript" src="assets/js/script.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.1/lity.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149685336-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-149685336-1');
    </script>
    <script>
      $(document).ready(function(){
      	$("#send").click(function(){
      		var nome = $("#sendemail-nome").val();
      		var email = $("#sendemail-email").val();
      		var testo = $("#sendemail-testo").val();
      		var action = "fromContatti";
      		$.ajax({
      			type: "POST",
      			url: "/sendto.php",
      			data: {nome:nome,email:email,testo:testo,action:action},
      			success: function( data ) {
      				if(data=='true')    {
      					$(".form-group").hide()
      					$("#send").hide()
      					$(".message p").text("LA TUA EMAIL È STATA INVIATA CORRETTAMENTE.")
      				}
      				else if (data == 'campi')
      					$(".message p").text("NON HAI COMPILATO TUTTI I CAMPI.")
      				else {
      					$(".message p").text("LA TUA EMAIL NON È STATA INVIATA. RIPROVA PIÙ TARDI.")
      				}
      			}
      		});
      	});
      });
    </script>
  </body>
</html>
