_staging/_layouts/index.pug
doctype html
html
	head
		include _partials/head.pug

	body
		include _partials/navbar.pug

		//- #heroBanner
		//- 	.swiper-container#heroSlider
		//- 		.swiper-button-prev
		//- 		.swiper-button-next
		//- 		.swiper-wrapper
		//- 			.swiper-slide
		//- 				img(src="https://via.placeholder.com/1920x675/000&text=slide1")
		//- 			.swiper-slide
		//- 				img(src="https://via.placeholder.com/1920x675/000&text=slide2")
		//- 			.swiper-slide
		//- 				img(src="https://via.placeholder.com/1920x675/000&text=slide3")
		//- 		.swiper-pagination
		
		#last3Auto.dacar-row
			.container
				.row
					.col-sm-12
						h2.black.uppercase.bold LE NOSTRE AUTO
						include _partials/dacarSpacer.pug
				.row#homepageCars
					
				.row
					.col-md-4.offset-md-4.col-sm-12

						.loading-dacar
							img(src="assets/images/loading-dacar.gif", alt="")
							p.uppercase.blue.bold CARICAMENTO
							
						a.button.button--white(href="/veicoli.html")
							span
								i.fas.fa-car
							span &nbsp;&nbsp;&nbsp;
							span TUTTE LE AUTO

		#aboutUs.dacar-row
			.container
				.row
					.col-sm-12
						h2.black.uppercase.bold CHI SIAMO
						include _partials/dacarSpacer.pug
				.row
					.col-sm-12
						p Siamo un'azienda giovane e dinamica attenta alle Vostre necessità
							br.nomob
							|&nbsp;e in linea con un mercato in continua evoluzione. 
							br.nomob

						p Il cliente è la nostra priorità: Vi metteremo a Vostro agio, sicuri di garantirVi un’esperienza piacevole
							br.nomob
							|&nbsp;e un prodotto che rispecchi le Vostre esigenze.

						p.bold.blue Il team Dacar vi aspetta
		#servizi.dacar-row
			.container
				.row
					.col-sm-12
						h2.black.uppercase.bold SERVIZI
						include _partials/dacarSpacer.pug	
				.row
					.col-md-4.col-sm-12.flexCol
						div.cont
							i.fas.fa-car.blue
						div
							h5.bold PERMUTA
							p Ritiriamo le Vostre vetture offrendo le migliori valutazioni di mercato e ci occupiamo interamente della documentazione necessaria.
					.col-md-4.col-sm-12.flexCol
						div.cont
							i.fas.fa-handshake.blue
						div
							h5.bold FINANZIAMENTO
							p Offriamo, direttamente in loco, la possibilità di dilazionare il pagamento costruendo insieme a Voi la miglior proposta secondo le Vostre esigenze.
					.col-md-4.col-sm-12.flexCol
						div.cont
							i.fas.fa-clock.blue
						div
							h5.bold FLESSIBILITÀ
							p Rendiamo la Vostra visita il più agevole possibile offrendo orari flessibili e mettendo a disposizione servizi di trasporto da stazioni e aeroporti per venire incontro alle vostre esigenze
		#gallery.dacar-row
			.container
				.row
					.col-sm-12
						h2.black.uppercase.bold GALLERY
						include _partials/dacarSpacer.pug	
				.row
					.col-sm-12.images
						//- .image
						//- 	img.lozad(data-src="assets/images/consegne/dacar_consegne_29.jpg", alt="")
						//- .image
						//- 	img.lozad(data-src="assets/images/consegne/dacar_consegne_14.jpg", alt="")
						//- .image
						//- 	img.lozad(data-src="assets/images/consegne/dacar_consegne_22.jpg", alt="")
						//- .image
						//- 	img.lozad(data-src="assets/images/consegne/dacar_consegne_23.jpg", alt="")
						//- .image
						//- 	img.lozad(data-src="assets/images/consegne/dacar_consegne_27.jpg", alt="")
						//- .image
						//- 	img.lozad(data-src="assets/images/consegne/dacar_consegne_26.jpg", alt="")
						//- .image
						//- 	img.lozad(data-src="assets/images/consegne/dacar_consegne_20.jpg", alt="")
						//- .image
						//- 	img.lozad(data-src="assets/images/consegne/dacar_consegne_13.jpg", alt="")

		#test
		
		include _partials/footer.pug
		include _partials/include.pug
		script.
			$(document).ready(function(){
				getCarDetail(true)
				$.ajax({
					type: "GET",
					url: "https://graph.instagram.com/v14.0/4738416252953100/media?access_token=IGQVJWQ0JkZAlRGQW5WZA3d1dFFpZAHBPdlFvdzNTR3BDMXFZAdXhhN1RveDdCckFnRk42bXJSNDZAzbHNra1pqTjVQc0lwQUVGeU1qU002YVEyOUw1T1ZALMWd1aWdmOV85NFMxT1N3NVF1dUhVX1p0d3MxOQZDZD&fields=media_url",
					success: function(response) {
						response.data.forEach((item, index) => {
							if (index < 8) {
								$(".images").append("<div class='image'><a href='"+item.media_url+"' data-lity><img src='"+item.media_url+"'/></a></div>")
							}
						})
					}
				});
			});

_prod/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Siamo un'azienda giovane e dinamica attenta alle Vostre necessità e in linea con un mercato in continua evoluzione.">
    <meta name="keywords" content="Concessionario, Sesto San Giovaani, Auto Usate, Macchina">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dacar | Homepage</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/bootstrap-grid.css">
    <link rel="stylesheet" href="assets/css/swiper.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.1/lity.min.css">
    <link rel="icon" type="image/png" href="assets/images/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="db5fea06-c187-4d6b-a2fb-b11517effb48" data-blockingmode="auto" type="text/javascript"></script>
  </head>
  <body>
    <div id="navbar">
      <div class="container">
        <div class="logo"><a href="/"><img src="assets/images/logo.png"></a>
          <div class="menu">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
          </div>
        </div>
        <div class="link"><a href="/">
            <div>
              <p>HOMEPAGE</p>
            </div></a><a href="veicoli.html">
            <div>
              <p>VEICOLI</p>
            </div></a><a href="gallery.html">
            <div>
              <p>GALLERY</p>
            </div></a><a href="contatti.html">
            <div>
              <p>CONTATTI</p>
            </div></a></div>
      </div>
    </div>
    <div class="dacar-row" id="last3Auto">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="black uppercase bold">LE NOSTRE AUTO</h2>
            <div class="dacarSpacer">
              <div class="line"></div>
              <div class="steeringWheel">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve" width="512px" height="512px">
                  <g>
                    <g id="steering_x5F_wheel">
                      <path d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M16,4    c5.207,0,9.605,3.354,11.266,8H4.734C6.395,7.354,10.793,4,16,4z M16,18c-1.105,0-2-0.895-2-2s0.895-2,2-2s2,0.895,2,2    S17.105,18,16,18z M4,16c5.465,0,9.891,5.266,9.984,11.797C8.328,26.828,4,21.926,4,16z M18.016,27.797    C18.109,21.266,22.535,16,28,16C28,21.926,23.672,26.828,18.016,27.797z" fill="#014dbb"></path>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="line"></div>
            </div>
          </div>
        </div>
        <div class="row" id="homepageCars"></div>
        <div class="row">
          <div class="col-md-4 offset-md-4 col-sm-12">
            <div class="loading-dacar"><img src="assets/images/loading-dacar.gif" alt="">
              <p class="uppercase blue bold">CARICAMENTO</p>
            </div><a class="button button--white" href="/veicoli.html"><span><i class="fas fa-car"></i></span><span>&nbsp;&nbsp;&nbsp;</span><span>TUTTE LE AUTO</span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="dacar-row" id="aboutUs">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="black uppercase bold">CHI SIAMO</h2>
            <div class="dacarSpacer">
              <div class="line"></div>
              <div class="steeringWheel">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve" width="512px" height="512px">
                  <g>
                    <g id="steering_x5F_wheel">
                      <path d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M16,4    c5.207,0,9.605,3.354,11.266,8H4.734C6.395,7.354,10.793,4,16,4z M16,18c-1.105,0-2-0.895-2-2s0.895-2,2-2s2,0.895,2,2    S17.105,18,16,18z M4,16c5.465,0,9.891,5.266,9.984,11.797C8.328,26.828,4,21.926,4,16z M18.016,27.797    C18.109,21.266,22.535,16,28,16C28,21.926,23.672,26.828,18.016,27.797z" fill="#014dbb"></path>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="line"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p>Siamo un'azienda giovane e dinamica attenta alle Vostre necessità<br class="nomob">&nbsp;e in linea con un mercato in continua evoluzione. <br class="nomob"></p>
            <p>Il cliente è la nostra priorità: Vi metteremo a Vostro agio, sicuri di garantirVi un’esperienza piacevole<br class="nomob">&nbsp;e un prodotto che rispecchi le Vostre esigenze.</p>
            <p class="bold blue">Il team Dacar vi aspetta</p>
          </div>
        </div>
      </div>
    </div>
    <div class="dacar-row" id="servizi">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="black uppercase bold">SERVIZI</h2>
            <div class="dacarSpacer">
              <div class="line"></div>
              <div class="steeringWheel">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve" width="512px" height="512px">
                  <g>
                    <g id="steering_x5F_wheel">
                      <path d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M16,4    c5.207,0,9.605,3.354,11.266,8H4.734C6.395,7.354,10.793,4,16,4z M16,18c-1.105,0-2-0.895-2-2s0.895-2,2-2s2,0.895,2,2    S17.105,18,16,18z M4,16c5.465,0,9.891,5.266,9.984,11.797C8.328,26.828,4,21.926,4,16z M18.016,27.797    C18.109,21.266,22.535,16,28,16C28,21.926,23.672,26.828,18.016,27.797z" fill="#014dbb"></path>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="line"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-12 flexCol">
            <div class="cont"><i class="fas fa-car blue"></i></div>
            <div>
              <h5 class="bold">PERMUTA</h5>
              <p>Ritiriamo le Vostre vetture offrendo le migliori valutazioni di mercato e ci occupiamo interamente della documentazione necessaria.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 flexCol">
            <div class="cont"><i class="fas fa-handshake blue"></i></div>
            <div>
              <h5 class="bold">FINANZIAMENTO</h5>
              <p>Offriamo, direttamente in loco, la possibilità di dilazionare il pagamento costruendo insieme a Voi la miglior proposta secondo le Vostre esigenze.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 flexCol">
            <div class="cont"><i class="fas fa-clock blue"></i></div>
            <div>
              <h5 class="bold">FLESSIBILITÀ</h5>
              <p>Rendiamo la Vostra visita il più agevole possibile offrendo orari flessibili e mettendo a disposizione servizi di trasporto da stazioni e aeroporti per venire incontro alle vostre esigenze</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="dacar-row" id="gallery">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="black uppercase bold">GALLERY</h2>
            <div class="dacarSpacer">
              <div class="line"></div>
              <div class="steeringWheel">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve" width="512px" height="512px">
                  <g>
                    <g id="steering_x5F_wheel">
                      <path d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M16,4    c5.207,0,9.605,3.354,11.266,8H4.734C6.395,7.354,10.793,4,16,4z M16,18c-1.105,0-2-0.895-2-2s0.895-2,2-2s2,0.895,2,2    S17.105,18,16,18z M4,16c5.465,0,9.891,5.266,9.984,11.797C8.328,26.828,4,21.926,4,16z M18.016,27.797    C18.109,21.266,22.535,16,28,16C28,21.926,23.672,26.828,18.016,27.797z" fill="#014dbb"></path>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="line"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 images"></div>
        </div>
      </div>
    </div>
    <div id="test"></div>
    <div id="footer">
      <div class="container">
        <div class="row dacar-row">
          <div class="col-md-3 col-sm-12 columns">
            <h5 class="blue bold">NAVIGAZIONE</h5><a href="/">
              <p class="uppercase bold">HOMEPAGE</p></a><a href="/veicoli.html">
              <p class="uppercase bold">VEICOLI</p></a><a href="/gallery.html">
              <p class="uppercase bold">GALLERY</p></a><a href="/contatti.html">
              <p class="uppercase bold">CONTATTI</p></a><a href="/privacy.html">
              <p class="uppercase bold">privacy policy</p></a><a href="/cookie.html">
              <p class="uppercase bold">cookie policy</p></a>
          </div>
          <div class="col-md-3 col-sm-12 columns">
            <h5 class="blue bold">ORARI</h5>
            <p class="bold uppercase orario"> <span class="blue"><i class="fas fa-clock"></i></span>Lun-ven <br>9:00-12:30<br>14:30-19:00</p>
            <p class="bold uppercase orario"><span class="blue"><i class="fas fa-clock"></i></span>Sabato<br>9:00-12:30</p>
          </div>
          <div class="col-md-3 col-sm-12 columns">
            <h5 class="blue bold">CONTATTI</h5>
            <p class="bold indirizzo"><span class="blue"><i class="fas fa-map-marker-alt"></i></span><span>Via Giosuè Carducci 221/55, Sesto San Giovanni(MI)</span></p>
            <p class="bold telefono"><span class="blue"><i class="fas fa-user"></i></span><span>Davide Riolfo<br>+39 3285442547<br>davide@dacarmilano.it</span></p>
            <p class="bold telefono"><span class="blue"><i class="fas fa-user"></i></span><span>Gianluca Guarnaschelli<br>+39 3479450069<br>gianluca@dacarmilano.it</span></p>
            <p class="bold telefono"><span class="blue"><i class="fas fa-user"></i></span><span>Croci Giudice <br>(Responsabile acquisti)<br>+39 3779999724</span></p>
          </div>
          <div class="col-md-3 col-sm-12 columns">
            <h5 class="blue bold">SOCIAL</h5><a href="https://www.facebook.com/dacarmilano/" target="_blank">
              <h2 class="blue"><i class="fab fa-facebook-square"></i></h2></a><a href="https://www.instagram.com/dacarmilano/" target="_blank">
              <h2 class="blue"><i class="fab fa-instagram"></i></h2></a>
          </div>
        </div>
      </div>
      <div class="row dacar-row" style="background:#014dbb;padding:0;">
        <div class="col-sm-12 columns">
          <div class="container" style="padding: 10px 2% !important;">
            <p class="white" style="margin:0;font-size:10px;text-align:left;">DACAR SRL - Sede legale: Via Trieste 42, 20064 Gorgonzola (MI) – P.IVA: 11511580968 – Numero REA MI-2608339 – Capitale Sociale: 10.000€</p>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/swiper.min.js"></script>
    <script type="text/javascript" src="assets/js/lozad.js"></script>
    <script type="text/javascript" src="assets/js/script.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lity/2.4.1/lity.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149685336-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-149685336-1');
    </script>
    <script>
      $(document).ready(function(){
      	getCarDetail(true)
      	$.ajax({
      		type: "GET",
      		url: "https://graph.instagram.com/v14.0/4738416252953100/media?access_token=IGQVJWQ0JkZAlRGQW5WZA3d1dFFpZAHBPdlFvdzNTR3BDMXFZAdXhhN1RveDdCckFnRk42bXJSNDZAzbHNra1pqTjVQc0lwQUVGeU1qU002YVEyOUw1T1ZALMWd1aWdmOV85NFMxT1N3NVF1dUhVX1p0d3MxOQZDZD&fields=media_url",
      		success: function(response) {
      			response.data.forEach((item, index) => {
      				if (index < 8) {
      					$(".images").append("<div class='image'><a href='"+item.media_url+"' data-lity><img src='"+item.media_url+"'/></a></div>")
      				}
      			})
      		}
      	});
      });
    </script>
  </body>
</html>
